<%- include('./header'); -%>
  <div class="container text-center my-auto">
    <h1 class="display-2">App de Eventos</h1>
    <a href="/auth/login" class="btn btn-primary btn-lg">Inicia Sesion</a>
    <a href="/auth/signup" class="btn btn-primary btn-lg">Crea un Usuario</a>
  </div>
<%- include('./footer'); -%>